@page
@using CustomerManger.UI.Pages
@model IndexModel

@{
    ViewData["Title"] = "Customer Management";

}
<h1>The Start of a Customer Management System</h1>

<h5>Notes</h5>
<p>Sorry I've done more than I should have done, but there will be more to talk about =).<br/>
    Also, I'm sorry it's a bit late. I pulled my back last week and have been in absolute agony.</br/<br/>

Unfortunately, having done more meant inevitably that everything would be in half finished state.
I also picked this test as a chance to learn blazor, which I've never used before. All sorts of problems with validation and using the error information from the API.
<br />
It would have been nice to finish the generic repository pattern I started to put in so that I could move entity framework out easily.
I moved the models to a separate project, but I still need to finish the mapping layer.
The result system I started implementing on the service layer should really return the Customer class instead of a rather useless bool.
I've not added any authorisation/anti forgery'

<br/>
<br />

In the UI I haven't yet learned how to use the validation messages properly, and you will notice a few little quirks.
<br />
Have fun, I have really enjoyed starting this and will continue.<br/>
Feel free to listen to my music while you look around this project. <a href="https://www.soundcloud.com/minimalbliss" alt="the music of minimalbliss" target="_blank">minimalbliss</a>
    <br />

<h6><br/>Thanks for your time.</h6>
